.app-dark-violate {
    background-color: #7200B0; /*575757, 7200B0*/
}

.text-dark-violate {
    color: #7200B0; /*575757, 7200B0*/
}

.border-dark-violate {
    border: 2px solid #7200B0;
    border-radius: 15px;
}

.app-light-violate {
    background-color: #a66ac6; /*575757, 7200B0*/
}

.heading-font {
    font-family: "Roboto Thin", sans-serif;
}

.ads-area-gray {
    background-color: #f0f0f0; /* #EDEDED */
}
